@{

    ViewData["Title"] = "Movie Added!";
}

@model Mission4.Models.AddToDatabase

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">@Model.Title added to Database!</h1>
    </div>
</header>
