
@{
    ViewData["Title"] = "Delete Movie";
}


@model AddToDatabase
<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Confirm Deletion</h1>
        <h2 class="fw-bold">Are you sure you wan to delete: @Model.Title ?</h2>
        <form method="post" asp-action="Delete">
            <button type="submit" class="btn">Delete</button>
            <a asp-controller="Home" asp-action="Display" class="btn btn-primary">Go Back</a>

            <input type="hidden" asp-for="MovieId" />
        </form>
    </div>
</header>