@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Podcasts</h1>
    </div>
</header>

<!-- Podcast section-->
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Listen to Baconsale</h2>
                <a class="nav-link" href="https://baconsale.com">Baconsale</a>
            </div>
        </div>
    </div>
</section>